pandas~=2.2.3
tqdm~=4.67.1
setuptools==77.0.3
spacy==3.8.4
pyphen~=0.17.0
textstat~=0.7.4
vaderSentiment~=3.3.2
nltk==3.9.1
openpyxl==3.1.5
germansentiment==1.1.0
de_core_news_md @ https://github.com/explosion/spacy-models/releases/download/de_core_news_md-3.8.0/de_core_news_md-3.8.0-py3-none-any.whl#sha256=b903f59220f1e76dd672acdaa7fa454d6703fe056c5ccd6457820e70874116d0
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256=5e6329fe3fecedb1d1a02c3ea2172ee0fede6cea6e4aefb6a02d832dba78a310
